<div class="page-header">
  <h1></h1>
</div>


<% if true  %>
  <% if current_user.manager? %>
    <div class="page-header">      
      <h1>Мои тикеты</h1>
    </div>
  <% elsif current_user.client?%>
    <div class="page-header">
      <%= link_to new_ticket_conversation_path, class: 'btn btn-primary' do %>
        <span class="glyphicon glyphicon-plus"></span>
        Создать новую заявку
      <% end %>
      <h1>Мои заявки</h1>
    </div>
  <% elsif current_user.admin?%>
  <div class="page-header">
    <%= link_to new_ticket_conversation_path, class: 'btn btn-primary' do %>
      <span class="glyphicon glyphicon-plus"></span>
      Создать новый тикет
    <% end %>
    <h1>Мои заявки</h1>
    </div>
  <% end %>

<% end %>

<div class="table-responsive">
  <% @grouped.each do |k, v| %>
  <%= k %>
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% v.each do |ticket_conversation| %>
        <%= content_tag :tr, id: dom_id(ticket_conversation), class: dom_class(ticket_conversation) do %>
          <td><%= link_to 'П', ticket_conversation %></td>
          <td><%= link_to 'Р', edit_ticket_conversation_path(ticket_conversation) %></td>
          <td><%= link_to 'У', ticket_conversation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      <% end %>
      
    </tbody>
    
  </table>
  <% end %>
  
</div>
