<div class="page-header">
  <%= link_to root_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Назад
  <% end %>
  <%= link_to edit_ticket_conversation_path(@ticket_conversation), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Редактировать
  <% end %>
  <h1>Просмотр тикета</h1>
</div>

<dl class="dl-horizontal">
  <dt>Тема:</dt>
  <dd><%= @ticket_conversation.subject %></dd>

  <dt>Клиент:</dt>
  <dd><%= @ticket_conversation.client.name %></dd>

   <% if current_user.manager? %>
   <dt>Менеджер:</dt>
   <dd><%= @ticket_conversation.manager&.name  %></dd>
   <% end %>
    
  <dt>Статус:</dt>
  <dd><%= @ticket_conversation.status %></dd>

</dl>
